<div class="module-pageFooter">

    <div class="section">
        <div class="section section-type-text">
            <article class="module-article">
                <header>
                    <h2>Kontakta oss</h2>
                    <span class="line"></span>
                    <p>Vi finns i de flesta medier. Välj det som passar dig bäst.</p>
                </header>
                <main>
                    <p>Om du ska skriva formalia behöver du antagligen vårt hela företagsnamn <strong class="js-text-04">The Interactive Circuit in Stockholm AB</strong> och organisationsnumret <strong class="js-text-04">556872-5674</strong>.</p>
                    <p>Vet du inte riktigt vem du söker går det alldeles utmärkt att nå oss på <strong class="js-text-04"><a href="tel:+46841096200">08 - 410 96 200</a></strong> eller <strong class="js-text-04"><a href="mailto:hello@circuit.se">hello@circuit.se</a></strong>.</p>
                    <p>Besök tar vi gladligen emot på <strong class="js-text-04"><a href="https://www.google.se/maps/place/Circuit/@59.3346214,18.0950228,17z/data=!3m1!4b1!4m2!3m1!1s0x465f9d44ace93be3:0xf5b3d51ebb036883">Linnégatan 87F, 115 23, Stockholm</a></strong>, men brev kommer lättast fram om de postas till <strong class="js-text-04">Box 24126, 104 51, Stockholm</strong>.</p>
                    <p>Vi finns även på Twitterkontot <strong class="js-text-04"><a href="https://twitter.com/WeAreCircuit" target="_blank">@wearecircuit</a></strong> samt Instagramkontot <strong class="js-text-04"><a href="https://instagram.com/WeAreCircuit" target="_blank">@wearecircuit</a></strong></p>
                </main>
            </article>
        </div>
    </div>

</div>

<script type="text/javascript" src="//use.typekit.net/ipg8mut.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="{{ site.baseurl }}/assets/js/logo.js"></script>
<script src="{{ site.baseurl }}/assets/js/all.js"></script>