<header class="module-pageHeader">
    <a href="{{ site.baseurl }}" class="siteId">
        <div id="siteId"></div>
       <span class="company-name">Circuit</span>
    </a>
    <div class="section">
        <ul>
            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Start</a></li>
            <li {% if page.url == '/karriar/index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/karriar">Karriär</a></li>
            <li {% if page.url == '/kunder/index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/kunder">Kunder</a></li>
            <li {% if page.url == '/tjanster/index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}/tjanster">Tjänster</a></li>
        </ul>
    </div>
</header>