<header class="module-pageHeader">
    <div class="section">
        <ul>
            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/">Start</a></li>
            <li {% if page.url == '/karriar/index.html' %}class="active"{% endif %}><a href="/karriar">Karriär</a></li>
            <li {% if page.url == '/kunder/index.html' %}class="active"{% endif %}><a href="/kunder">Kunder</a></li>
            <li {% if page.url == '/tjanster/index.html' %}class="active"{% endif %}><a href="/tjanster">Tjänster</a></li>
        </ul>
    </div>
</header>