.icon {
	display: inline-block;
	width: 128px;
	height: 128px;
	fill: #000000;
}
.icon-left_eye {
	fill: #000000;
	width: 85px;
}
.icon-right_eye {
	fill: #000000;
	width: 85px;
}
.icon-tie {
	fill: #000000;
	width: 85px;
}
.icon-shirt {
	fill: #000000;
	width: 85px;
}
.icon-round_neck {
	fill: #000000;
	width: 85px;
}
.icon-pen {
	fill: #000000;
	width: 85px;
}
.icon-bowtie {
	fill: #000000;
	width: 85px;
}
.icon-moustache {
	fill: #000000;
	width: 85px;
}
.icon-freckles {
	fill: #000000;
	width: 85px;
}
.icon-beard {
	fill: #000000;
	width: 85px;
}
.icon-tired {
	fill: #000000;
	width: 85px;
}
.icon-round_glasses {
	fill: #000000;
	width: 85px;
}
.icon-glasses {
	fill: #000000;
	width: 85px;
}
.icon-tophat {
	fill: #000000;
	width: 85px;
}
.icon-spinning_cap {
	fill: #000000;
	width: 85px;
}
.icon-side_parted {
	fill: #000000;
	width: 85px;
}
.icon-ponytail {
	fill: #000000;
}
.icon-hipster {
	fill: #000000;
}
.icon-head {
	fill: #000000;
}
.icon-body {
	fill: #000000;
}
