<div class="module-logoWall">
    <div class="section">
            <ul class="logoWall js-bg-01">
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/sony.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-01" style="background-image: url(/assets/images/logos/poolia.png); background-color: rgb(26, 15, 79);"></li>
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/humana.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-04" style="background-image: url(/assets/images/logos/PRO.png); background-color: rgb(173, 164, 214);"></li>
                <li class="js-bg-01" style="background-image: url(/assets/images/logos/crayon.png); background-color: rgb(26, 15, 79);"></li>
                <li class="js-bg-02" style="background-image: url(/assets/images/logos/sapa.png); background-color: rgb(66, 53, 122);"></li>
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/telenor.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-01" style="background-image: url(/assets/images/logos/wallenius.png); background-color: rgb(26, 15, 79);"></li>
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/vinge.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-02" style="background-image: url(/assets/images/logos/svenskt_naringsliv.png); background-color: rgb(66, 53, 122);"></li>
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/tele2.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-04" style="background-image: url(/assets/images/logos/jm.png); background-color: rgb(173, 164, 214);"></li>
                <li class="js-bg-02" style="background-image: url(/assets/images/logos/studieforbundet.png); background-color: rgb(66, 53, 122);"></li>
                <li class="js-bg-04" style="background-image: url(/assets/images/logos/miljomarkt.png); background-color: rgb(173, 164, 214);"></li>
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/rf.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-01" style="background-image: url(/assets/images/logos/bliwa.png); background-color: rgb(26, 15, 79);"></li>
                <li class="js-bg-02" style="background-image: url(/assets/images/logos/ricoh.png); background-color: rgb(66, 53, 122);"></li>
                <li class="js-bg-01" style="background-image: url(/assets/images/logos/ekobrott.png); background-color: rgb(26, 15, 79);"></li>
                <li class="js-bg-03" style="background-image: url(/assets/images/logos/northstream.png); background-color: rgb(114, 102, 165);"></li>
                <li class="js-bg-04" style="background-image: url(/assets/images/logos/recipharm.png); background-color: rgb(173, 164, 214);"></li>
            </ul>
        </div>
</div>