<div class="module-opportunities">
    <div class="section">
    <div class="lists">
        <div class="pageContent full">
            <div class="listWrapper js-bg-01 sales" style="background-color: rgb(21, 79, 15);">
                <h1>Account Manager</h1>
                <span class="line"></span>
                <ul>
                    <li>Strategiskt rådgivande</li>
                    <li>Akademisk examen</li>
                    <li>Jobbar på digital byrå</li>
                    <li>Nätverkande och säljande</li>
                    <a class="button" href="http://ext.workbuster.se/cv.php?site=circuit&amp;subsite=&amp;aguid=24158B0763254EF1B4DB88E82CEF0B8C&amp;tcguid=&amp;lng=1">Ansök</a>
                </ul></div>
            <div class="listWrapper js-bg-02 developer" style="background-color: rgb(60, 122, 53);">
                <h1>Frontendutvecklare</h1>
                <span class="line"></span>
                <ul>
                    <li>Pixelperfekt</li>
                    <li>HTML, CSS och Javascript</li>
                    <li>Designkänsla</li>
                    <li>Erfaren</li>
                </ul>
                <a class="button" href="http://ext.workbuster.se/cv.php?site=circuit&amp;subsite=&amp;aguid=81487512FD90449DBC50FF999C649AD6&amp;tcguid=&amp;lng=1">Ansök</a>
            </div>
            <div class="listWrapper js-bg-03 intern" style="background-color: rgb(109, 165, 102);">
                <h1>.net-praktikant</h1>
                <span class="line"></span>
                <ul>
                    <li>Relevant utbildning</li>
                    <li>Ambitiös</li>
                    <li>Älskar webbutveckling</li>
                    <li>Vill jobba</li>
                </ul>
                <a class="button" href="http://ext.workbuster.se/cv.php?site=circuit&amp;subsite=&amp;aguid=8A455E54F4BD4519B3BF3DE11C4B38FF&amp;tcguid=&amp;lng=1">Ansök</a>
            </div>
            <div class="listWrapper js-bg-04 spontaneous" style="background-color: rgb(169, 214, 164);">
                <h1>Spontan</h1>
                <span class="line"></span>
                <ul>
                    <li>Talangfull</li>
                    <li>Digital specialist</li>
                    <li>Erfarenhet från digital byrå</li>
                    <li>Driven</li>

                </ul>
                <a class="button" href="mailto:hello@circuit.se">Ansök</a>
            </div>
        </div>
    </div>
</div>
</div>