<div class="module-opportunities">
    <div class="section">
    <div class="lists">
        <div class="pageContent full">
            <div class="listWrapper js-bg-01 strategy" style="background-color: rgb(15, 79, 42);">
                <h1>Strategi</h1>
                <span class="line"></span>
                <ul>
                    <li>Research</li>
                    <li>Mål och effekt</li>
                    <li>Kanaler</li>
                    <li>Målgrupper</li>
                    <li>Positionering</li>
                </ul>
            </div>
            <div class="listWrapper js-bg-02 design" style="background-color: rgb(53, 122, 83);">
                <h1>Design</h1>
                <span class="line"></span>
                <ul>
                    <li>Koncept och idé</li>
                    <li>Graﬁsk design</li>
                    <li>Informationsarkitektur</li>
                    <li>Innehållsstrategi</li>
                    <li>Prototyping</li>
                </ul>
            </div>
            <div class="listWrapper js-bg-03 tech" style="background-color: rgb(102, 165, 130);">
                <h1>Teknologi</h1>
                <span class="line"></span>
                <ul>
                    <li>Systemarkitektur</li>
                    <li>Plattformar</li>
                    <li>Utveckling</li>
                    <li>Gränssnitt</li>
                    <li>Mobilt och appar</li>
                </ul>
            </div>
            <div class="listWrapper js-bg-04 improvement" style="background-color: rgb(164, 214, 186);">
                <h1>Förbättringar</h1>
                <span class="line"></span>
                <ul>
                    <li>KPI:er</li>
                    <li>Utbildning</li>
                    <li>Analys</li>
                    <li>Konvertering</li>
                    <li>Support och förvaltning</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>